<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<form th:method="patch" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Name</label>
    <input id="name" th:field="*{name}" type="text"/>
    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>

    <br>
    <label for="lastname">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>

    <br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>

    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>

    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>

    <br>
    <label for="role">Role</label>
    <input type="text" th:field="*{role}" id="role"/>
    <td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Roles Error</td>

    <br>
    <input type="submit" value="Update User"/>
</form>

<form th:action="@{/close}">
    <input type="submit" value="Close"/>
</form>
</html>