<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<header class="p-1 text-bg-dark">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-center mb-md-0">
                <li class="mt-2"><a th:text="${user1.email}">email</a></li>
                <li><a href="#" class="nav-link px-2 text-white">with roles:</a></li>

                <li class="mt-2">
                    <a th:each="role : ${user1.roles}">
                        <a th:text="${role.role}">name</a>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">Admin</a>
                </li>
                <li>
                    <a href="/user1" class="nav-link ">User</a>
                </li>
            </ul>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light">
            <div class="ms-3">
                <h2>Admin panel</h2>
            </div>
            <div class="container-fluid">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                        <li><a href="/admin" class="nav-link ">Users table</a></li>
                        <li><a href="/users/new" class="nav-link px-2 text-dark border">New user</a></li>
                    </ul>
                </div>
            </div>
            <div class="border ms-3">
                <div class=" mt-2 ms-3">
                    <h6>Add new user</h6>
                </div>
            </div>

            <form th:method="post" th:action="@{/users}" th:object="${user}">
                <div class=" ms-3">
                    <form>
                        <div class="border ">
                            <div class="form-group text-center fw-bold ">
                                <label for="name">Name</label>
                                <input type="text" class="form-control w-25 bg-warning p-1
                            text-dark bg-opacity-25 mx-auto" id="name" th:field="*{name}"
                                       placeholder="First name">
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                            <br>
                            <div class="form-group text-center fw-bold ">
                                <label for="lastName">LastName</label>
                                <input type="text" class="form-control w-25 bg-warning p-1
                             text-dark bg-opacity-25 mx-auto" id="lastName" th:field="*{lastName}"
                                       placeholder="Last name">
                                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                            </div>
                            <br>
                            <div class="form-group text-center fw-bold ">
                                <label for="age">Age</label>
                                <input type="number" class="form-control w-25 bg-warning p-1
                               text-dark bg-opacity-25 mx-auto" id="age" name="age" value="" placeholder="Age">
                                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                            </div>
                            <br>
                            <div class="form-group text-center fw-bold ">
                                <label for="email">Email</label>
                                <input type="email" class="form-control w-25 bg-warning p-1
                              text-dark bg-opacity-25 mx-auto" id="email" th:field="*{email}" placeholder="Email">
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <br>
                            <div class="form-group text-center fw-bold ">
                                <label for="password">Password</label>
                                <input type="password" class="form-control w-25
                              text-dark bg-opacity-25 mx-auto" id="password"
                                       th:field="*{password}" placeholder="Password">
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            <br>
                            <div class="form-group text-center fw-bold">
                                <label for="role">Role</label>
                                <select class="form-select w-25
                                  text-dark bg-opacity-25 mx-auto" size="2" aria-label="а" id="role" th:field="*{role}">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <br>
                            <div class="d-grid gap-2 col-2 mx-auto">
                                <input type="submit" class="btn btn-success " value="Add new user"/>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>
