<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css"/>
</head>
<style type="text/css">
    TABLE {
        border: 0px double #000; /* Рамка вокруг таблицы */
    }

    TD, TH {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    H1 {
        text-align: center;
    }
</style>
<h1>Users</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="user : ${users}">
        <tr>
            <td>
                <p th:text="${user.id}">id
            </td>

            <td>
                <p th:text="${user.name}">name
            </td>

            <td>
                <p th:text="${user.lastName}">lastName
            </td>

            <td>
                <p th:text="${user.age}">age
            </td>

            <td>
                <p th:text="${user.email}">email
            </td>

            <td>
                <a th:each="role : ${user.roles}">
                    <p th:text="${role.role}">name</a>

            </td>

            <td>
                <form th:action="@{/users/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>

            <td>
                <form th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    </div>

</table>
<br>
<hr>

<form th:action="@{/users/new}">
    <input type="submit" value="Create new user"/>
</form>

<form th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</tbody>
</html>